<footer>
    <p style="color: black; font-weight: 600;font-size: 16px;">Created by <span style="font-style: italic; font-weight: 600;">{{name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
       
    <a style="color:black; align-self: flex-end;text-decoration: none; font-weight: 600;" href="/about">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a style="color:black; align-self: flex-end;text-decoration: none;font-weight:600;" href="/techstack">TechStack</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a style="color:black; align-self: flex-end;text-decoration: none;font-weight: 600;" href="/">Weather</a>
    </p>
   
</footer>