<footer>
    <p>Created by <span style="font-style: italic;">{{name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
       
    <a style="color:#979076; align-self: flex-end;text-decoration: none;" href="/about">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a style="color:#979076; align-self: flex-end;text-decoration: none;" href="/techstack">TechStack</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a style="color:#979076; align-self: flex-end;text-decoration: none;" href="/">Weather</a>
    </p>
   
</footer>